<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Вход</title>
    <style>
        .container {
            display: flex;
            justify-content: center;
            margin: auto;
        }
        .container form {
            display: flex;
            flex-direction: column;
        }
        .submit_button {
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <div class="container">
        <form action="/login" method="post">
            <label for="login">Логин</label>
            <input type="text" name="login" id="login">
            <label for="password">Пароль</label>
            <input type="password" name="password" id="password">
            <button class="submit_button" type="submit">Войти</button>
        </form>
    </div>
</body>
</html>